<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BX CSS 排版 整理</title>
    <link rel="stylesheet" href="../src/common/css/BX_reset.css" />
    <link rel="stylesheet" href="../src/common/css/BX_common.css" />
    <link rel="stylesheet" href="../src/css/BX_css_layout.css" />
  </head>

  <body>
    <h1>BX CSS 排版 整理</h1>
    <h3 class="task-title">HXFX 2023/10 體驗金</h3>
    <div class="hd_2310_emy">
      <section class="section2">
        <h2 class="section2Title1"></h2>
        <div id="rankInfo" class="wrapper" v-cloak>
          <!-- PC 版表格 -->
          <div class="tableWrapperPC pcDevice">
            <table>
              <thead>
                <tr>
                  <!-- 排名、帳號、姓名、淨值、獎勵 -->
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th colspan="2"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(person, index) in list">
                  <td v-if="index === 0" class="top3 rank rank1">
                    <div class="cellCenterWrapper">
                      <div>犀牛国王</div>
                      <div class="image"></div>
                    </div>
                  </td>
                  <td v-else-if="index === 1" class="top3 rank rank2">
                    <div class="cellCenterWrapper">
                      <div>犀牛大将</div>
                      <div class="image"></div>
                    </div>
                  </td>
                  <td v-else-if="index === 2" class="top3 rank rank3">
                    <div class="cellCenterWrapper">
                      <div>犀牛勇士</div>
                      <div class="image"></div>
                    </div>
                  </td>
                  <td v-else>第 {{ index + 1 }} 名</td>

                  <td v-for="eachFieldData in person">{{ eachFieldData }}</td>

                  <td v-if="index === 0" class="highlight">$ 50 红包</td>
                  <td v-else-if="index === 1" rowspan="9">$25 红包</td>

                  <td v-if="index === 0" rowspan="11">
                    提取盈利金额5% (上限1000)
                  </td>
                </tr>
                <tr>
                  <td>第11~100名</td>
                  <td class="emoji emoji1">
                    <div class="cellCenterWrapper">
                      <div class="image"></div>
                    </div>
                  </td>
                  <td class="emoji emoji2">
                    <div class="cellCenterWrapper">
                      <div class="image"></div>
                    </div>
                  </td>
                  <td class="emoji emoji3">
                    <div class="cellCenterWrapper">
                      <div class="image"></div>
                    </div>
                  </td>
                  <td>$5 红包</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6">
                    当前统计时间：{{ lastUpdateTime }}
                    <br />
                    最后统计时间：2023/10/31 18:00:00
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- M 版表格 -->
          <div class="tableWrapperM mDevice">
            <table class="table1">
              <thead>
                <tr>
                  <!-- 獎勵 -->
                  <th colspan="3">
                    <div class="cellCenterWrapper">
                      <div></div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>第1名</td>
                  <td>第2-10名</td>
                  <td>第11-100名</td>
                </tr>
                <tr>
                  <td class="highlight">$50红包</td>
                  <td>$25红包</td>
                  <td>$5红包</td>
                </tr>
                <tr>
                  <td colspan="3">提取盈利金额5%(上限1000)</td>
                </tr>
              </tbody>
            </table>
            <table class="table2">
              <thead>
                <tr>
                  <!-- 排名、帳號、姓名、淨值 -->
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(person, index) in list">
                  <td v-if="index === 0" class="top3 rank rank1">
                    <div class="cellCenterWrapper">
                      <div>犀牛国王</div>
                      <div class="image"></div>
                    </div>
                  </td>
                  <td v-else-if="index === 1" class="top3 rank rank2">
                    <div class="cellCenterWrapper">
                      <div>犀牛大将</div>
                      <div class="image"></div>
                    </div>
                  </td>
                  <td v-else-if="index === 2" class="top3 rank rank3">
                    <div class="cellCenterWrapper">
                      <div>犀牛勇士</div>
                      <div class="image"></div>
                    </div>
                  </td>
                  <td v-else>第 {{ index + 1 }} 名</td>

                  <td v-for="eachFieldData in person">{{ eachFieldData }}</td>
                </tr>
                <tr>
                  <td>第11~100名</td>
                  <td class="emoji emoji1">
                    <div class="cellCenterWrapper">
                      <div class="image"></div>
                    </div>
                  </td>
                  <td class="emoji emoji2">
                    <div class="cellCenterWrapper">
                      <div class="image"></div>
                    </div>
                  </td>
                  <td class="emoji emoji3">
                    <div class="cellCenterWrapper">
                      <div class="image"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    当前统计时间：{{ lastUpdateTime }}
                    <br />
                    最后统计时间：2023/10/31 18:00:00
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </section>
    </div>

    <h3 class="task-title">2022 7~9 好友推薦</h3>
    <p>
      PC 版：點擊條件區塊，或拖曳圓點
      <br />
      M 版：點擊條件區塊，或拖曳圓點
    </p>
    <div class="lp_40000hydg">
      <div class="section3">
        <div class="title"></div>
        <div class="subtitle">No.1 推荐红包</div>

        <!-- PC 版-->
        <div class="reward-calc-wrapper">
          <div class="title-people"></div>
          <div class="title-amount"></div>
          <div class="background-color-area"></div>
          <div
            class="condition condition-1 act drag-controller"
            id="pc-drag-controller"
          >
            <div class="people"><span>1</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>20</span></div>
          </div>
          <div class="condition condition-1 act" id="pc-condition-1">
            <div class="people"><span>1</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>20</span></div>
          </div>
          <div class="condition condition-2" id="pc-condition-2">
            <div class="people"><span>2</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>40</span></div>
          </div>
          <div class="condition condition-3" id="pc-condition-3">
            <div class="people"><span>3</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>60</span></div>
          </div>
          <div class="condition condition-4" id="pc-condition-4">
            <div class="people"><span>4</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>80</span></div>
          </div>
          <div class="condition condition-5" id="pc-condition-5">
            <div class="people"><span>5</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>100</span></div>
          </div>
          <div class="condition condition-6" id="pc-condition-6">
            <div class="people"><span>6</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>120</span></div>
          </div>
          <div class="condition condition-7" id="pc-condition-7">
            <div class="people"><span>7</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>140</span></div>
          </div>
          <div class="condition condition-8" id="pc-condition-8">
            <div class="people"><span>8</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>160</span></div>
          </div>
          <div class="condition condition-9" id="pc-condition-9">
            <div class="people"><span>9</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>180</span></div>
          </div>
          <div class="condition condition-10" id="pc-condition-10">
            <div class="people"><span>10</span>人</div>
            <div class="icon"></div>
            <div class="dot-and-bar">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="amount">$<span>200</span></div>
            <div class="section3-tip"></div>
          </div>
        </div>

        <!-- M 版 -->
        <div class="reward-calc-wrapper-m">
          <div class="background-color-area"></div>
          <!-- 僅有此區域可拖曳 -->
          <div class="draggable-area">
            <!-- 拖曳用圓點 -->
            <div class="dot-draggable" id="m-drag-controller"></div>
            <div class="dot-and-bar dot-and-bar-1" id="m-drag-1">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="dot-and-bar dot-and-bar-2" id="m-drag-2">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="dot-and-bar dot-and-bar-3" id="m-drag-3">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="dot-and-bar dot-and-bar-4" id="m-drag-4">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="dot-and-bar dot-and-bar-5" id="m-drag-5">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="dot-and-bar dot-and-bar-6" id="m-drag-6">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="dot-and-bar dot-and-bar-7" id="m-drag-7">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="dot-and-bar dot-and-bar-8" id="m-drag-8">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="dot-and-bar dot-and-bar-9" id="m-drag-9">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
            <div class="dot-and-bar dot-and-bar-10" id="m-drag-10">
              <div class="bar"></div>
              <div class="dot"></div>
            </div>
          </div>
          <!-- 條件顯示區域 -->
          <div class="condition condition-1 act" id="m-condition-1">
            <div class="arrow"></div>
            <div class="icon"></div>
            <div class="people-and-amount">
              <div class="people">1人</div>
              <div class="amount">$<span>20</span></div>
            </div>
          </div>
          <div class="condition condition-2" id="m-condition-2">
            <div class="arrow"></div>
            <div class="icon"></div>
            <div class="people-and-amount">
              <div class="people">2人</div>
              <div class="amount">$<span>40</span></div>
            </div>
          </div>
          <div class="condition condition-3" id="m-condition-3">
            <div class="arrow"></div>
            <div class="icon"></div>
            <div class="people-and-amount">
              <div class="people">3人</div>
              <div class="amount">$<span>60</span></div>
            </div>
          </div>
          <div class="condition condition-4" id="m-condition-4">
            <div class="arrow"></div>
            <div class="icon"></div>
            <div class="people-and-amount">
              <div class="people">4人</div>
              <div class="amount">$<span>80</span></div>
            </div>
          </div>
          <div class="condition condition-5" id="m-condition-5">
            <div class="arrow"></div>
            <div class="icon"></div>
            <div class="people-and-amount">
              <div class="people">5人</div>
              <div class="amount">$<span>100</span></div>
            </div>
          </div>
          <div class="condition condition-6" id="m-condition-6">
            <div class="arrow"></div>
            <div class="icon"></div>
            <div class="people-and-amount">
              <div class="people">6人</div>
              <div class="amount">$<span>120</span></div>
            </div>
          </div>
          <div class="condition condition-7" id="m-condition-7">
            <div class="arrow"></div>
            <div class="icon"></div>
            <div class="people-and-amount">
              <div class="people">7人</div>
              <div class="amount">$<span>140</span></div>
            </div>
          </div>
          <div class="condition condition-8" id="m-condition-8">
            <div class="arrow"></div>
            <div class="icon"></div>
            <div class="people-and-amount">
              <div class="people">8人</div>
              <div class="amount">$<span>160</span></div>
            </div>
          </div>
          <div class="condition condition-9" id="m-condition-9">
            <div class="arrow"></div>
            <div class="icon"></div>
            <div class="people-and-amount">
              <div class="people">9人</div>
              <div class="amount">$<span>180</span></div>
            </div>
          </div>
          <div class="condition condition-10" id="m-condition-10">
            <div class="arrow"></div>
            <div class="icon"></div>
            <div class="people-and-amount">
              <div class="people">10人</div>
              <div class="amount">$<span>200</span></div>
            </div>
            <div class="section3-tip"></div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="task-title">BX 2022/2 活躍客戶 落地頁</h3>
    <div class="lp_v202202hykh">
      <div class="section2">
        <h4 class="section2-title">
          <img src="../src/images/lp_v202202hykh/section2-title.png" />
        </h4>
        <div class="card-wrapper">
          <div class="pc">
            <div class="top">
              <img src="../src/images/lp_v202202hykh/section2-card1.png" />
              <img
                src="../src/images/lp_v202202hykh/arrow-right-yellow.svg"
                class="arrow"
              />
              <img src="../src/images/lp_v202202hykh/section2-card2.png" />
              <img
                src="../src/images/lp_v202202hykh/arrow-right-yellow.svg"
                class="arrow"
              />
              <img src="../src/images/lp_v202202hykh/section2-card3.png" />
            </div>
            <div>
              <img
                src="../src/images/lp_v202202hykh/arrow-right-yellow.svg"
                class="arrow"
              />
              <img src="../src/images/lp_v202202hykh/section2-card4.png" />
              <img
                src="../src/images/lp_v202202hykh/arrow-right-yellow.svg"
                class="arrow"
              />
              <img src="../src/images/lp_v202202hykh/section2-card5.png" />
            </div>
          </div>
          <div class="m">
            <img src="../src/images/lp_v202202hykh/section2-card1.png" />
            <img
              src="../src/images/lp_v202202hykh/arrow-bottom-yellow.svg"
              class="arrow"
            />
            <img src="../src/images/lp_v202202hykh/section2-card2.png" />
            <img
              src="../src/images/lp_v202202hykh/arrow-bottom-yellow.svg"
              class="arrow"
            />
            <img src="../src/images/lp_v202202hykh/section2-card3.png" />
            <img
              src="../src/images/lp_v202202hykh/arrow-bottom-yellow.svg"
              class="arrow"
            />
            <img src="../src/images/lp_v202202hykh/section2-card4.png" />
            <img
              src="../src/images/lp_v202202hykh/arrow-bottom-yellow.svg"
              class="arrow"
            />
            <img src="../src/images/lp_v202202hykh/section2-card5.png" />
          </div>
        </div>
        <button
          type="button"
          id="lp_v202202hykh-btn-understand"
          class="understand"
        ></button>
      </div>
      <div class="pop-up-wrapper">
        <div class="pop-up">
          <div class="close"></div>
          <div class="title">溫馨提示</div>
          <div class="content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore,
            voluptas.
          </div>
          <div class="button-wrapper">
            <button
              type="button"
              id="lp_v202202hykh-pop-sign-up"
              class="sign-up"
            >
              前往 GitHub
            </button>
            <button type="button" id="lp_v202202hykh-pop-cs" class="cs">
              前往 Google
            </button>
          </div>
          <div class="background"></div>
        </div>
      </div>
    </div>

    <!-- 透過 CDN 引入資源 -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>

    <!-- 自適應換算比例 -->
    <script>
      (function (doc, win) {
        const docEl = doc.documentElement;
        const resizeEvt =
          "orientationchange" in window ? "orientationchange" : "resize";
        function recalc() {
          const clientWidth = docEl.clientWidth; //clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
          if (!clientWidth) {
            return;
          }
          if (window.innerWidth <= 768) {
            document.documentElement.style.fontSize = clientWidth / 7.68 + "px";
          } else if (window.innerWidth >= 1920) {
            document.documentElement.style.fontSize = 1920 / 19.2 + "px";
          } else {
            document.documentElement.style.fontSize = clientWidth / 19.2 + "px";
          }
        }
        recalc();

        /* 判断是否支持监听事件 ，不支持则停止 */
        if (!doc.addEventListener) {
          return;
        }

        /* 注册翻转事件 */
        win.addEventListener(resizeEvt, recalc, false);
      })(document, window);
    </script>

    <!-- 其他 JS -->
    <!-- hd_2310_emy -->
    <script>
      new Vue({
        el: "#rankInfo",
        data: {
          list: [],
          lastUpdateTime: "2023/09/11 23:59:59",
        },
        mounted() {
          const reg = /\s/g;
          const res1 =
            "<p>丹尼, 9000121, 500、<br />肉羹, 9000122, 500、<br />蛋餅, 9000123, 500、<br />旅館, 9000124, 500、<br />車輪餅, 9000125, 500、<br />臭豆腐, 9000126, 500、<br />棺材板, 9000127, 500、<br />扁食, 9000128, 500、<br />飲料, 9000129, 500、<br />包子, 9000130, 500、</p>"
              .replace("<p>", "")
              .replace("</p>", "")
              .replace(reg, "")
              .split("、<br/>");
          this.list = res1.map((el, i) => {
            // 如果是最後一項的話，需要另外處理資料格式(需要將最後一項的頓號移除)
            if (i === res1.length - 1) {
              return el.slice(0, -1).split(",");
            }
            return el.split(",");
          });
        },
      });
    </script>

    <!-- lp_40000hydg -->
    <script>
      /* 推薦人獎勵試算 start */
      const CW = document.documentElement.clientWidth;
      const IW = window.innerWidth;
      let convertedRem = 0;
      if (IW <= 768) {
        convertedRem = CW / 7.68;
      } else if (IW >= 1920) {
        convertedRem = 1920 / 19.2;
      } else {
        convertedRem = CW / 19.2;
      }

      const elAmount = 10; // 總共有幾個元素

      // PC
      const elWidth = 1.1 * convertedRem; // 與 CSS 設定為相同數值
      const totalWidth = 13 * convertedRem; // 與 CSS 設定為相同數值
      const PCDragSpacing = (totalWidth - elWidth * elAmount) / (elAmount - 1);

      // M
      const elHeight = 1 * convertedRem; // 與 CSS 設定為相同數值
      const totalHeight = 9.3 * convertedRem; // 與 CSS 設定為相同數值
      const MDragSpacing = (totalHeight - elHeight * elAmount) / (elAmount - 1);

      /**
       * 移除所有 act class
       * @param {string} prefix - 要移除元素的前綴，例如 ".condition-" (class 為 點，id 為 井字號)
       * @param {number} num - 要移除到哪個(有幾個元素就填幾個)
       */
      function removeAllActClass(prefix, num) {
        for (let i = 1; i <= num; i++) {
          $(`${prefix}${i}`).removeClass("act");
        }
      }

      /**
       * 要新增 .act 直到哪個元素
       * @param {string} prefix - 要新增元素的前綴，例如 ".condition-" (class 為 點，id 為 井字號)
       * @param {number} num - 要新增到哪個數字
       */
      function addActClass(prefix, num) {
        for (let i = 1; i <= num; i++) {
          $(`${prefix}${i}`).addClass("act");
        }
      }

      /**
       * 判斷點擊到哪個條件 (PC 版)
       */
      function judgePCClick() {
        for (let i = 1; i <= elAmount; i++) {
          $(`#pc-condition-${i}`).click(function () {
            removeAllActClass(".condition-", elAmount);
            addActClass(".condition-", i);
            if (i === 1) {
              $("#pc-drag-controller").css("left", "0px");
            } else {
              $("#pc-drag-controller").css(
                "left",
                `${(elWidth + PCDragSpacing) * (i - 1)}px`
              );
            }
            $("#pc-drag-controller .people span").html(`${i}`);
            $("#pc-drag-controller .amount span").html(`${i * 20}`);
          });
        }
      }

      /**
       * 移除所有 .act，並新增 .act 直到哪個元素 (PC 版)
       * @param {number} num - 要新增 .act 直到哪個元素
       */
      function activatePCCondition(num) {
        removeAllActClass(".condition-", elAmount);
        addActClass(".condition-", num);
      }

      /**
       * 判斷點擊到哪個條件 (M 版)
       */
      function judgeMClick() {
        for (let i = 1; i <= elAmount; i++) {
          $(`#m-condition-${i}`).click(function () {
            removeAllActClass(".dot-and-bar-", elAmount);
            addActClass(".dot-and-bar-", i);
            removeAllActClass(".condition-", elAmount);
            addActClass(".condition-", i);
            if (i === 1) {
              $("#m-drag-controller").css("top", "0px");
            } else {
              // 一組高度是 1rem
              $("#m-drag-controller").css("top", `${elHeight * (i - 1)}px`);
            }
          });
        }
      }

      if (CW > 768) {
        judgePCClick();
        // 透過套件 jquery-ui 判斷拖曳
        $("#pc-drag-controller").draggable({
          containment: ".reward-calc-wrapper", // 限制拉動的範圍
          drag: function () {
            // 抓取水平移動距離
            const MovingDistance = Number(
              this.style.left.substring(0, this.style.left.length - 2)
            ); // 去除 "px" + 型別轉換(string 轉 number)

            if (
              MovingDistance <
              (elWidth + PCDragSpacing) * 1 - PCDragSpacing / 2
            ) {
              activatePCCondition(1);
              $("#pc-drag-controller .people span").html("1");
              $("#pc-drag-controller .amount span").html("20");
            } else if (
              MovingDistance >=
                (elWidth + PCDragSpacing) * (2 - 1) - PCDragSpacing / 2 &&
              MovingDistance < (elWidth + PCDragSpacing) * 2 - PCDragSpacing / 2
            ) {
              activatePCCondition(2);
              $("#pc-drag-controller .people span").html("2");
              $("#pc-drag-controller .amount span").html("40");
            } else if (
              MovingDistance >=
                (elWidth + PCDragSpacing) * (3 - 1) - PCDragSpacing / 2 &&
              MovingDistance < (elWidth + PCDragSpacing) * 3 - PCDragSpacing / 2
            ) {
              activatePCCondition(3);
              $("#pc-drag-controller .people span").html("3");
              $("#pc-drag-controller .amount span").html("60");
            } else if (
              MovingDistance >=
                (elWidth + PCDragSpacing) * (4 - 1) - PCDragSpacing / 2 &&
              MovingDistance < (elWidth + PCDragSpacing) * 4 - PCDragSpacing / 2
            ) {
              activatePCCondition(4);
              $("#pc-drag-controller .people span").html("4");
              $("#pc-drag-controller .amount span").html("80");
            } else if (
              MovingDistance >=
                (elWidth + PCDragSpacing) * (5 - 1) - PCDragSpacing / 2 &&
              MovingDistance < (elWidth + PCDragSpacing) * 5 - PCDragSpacing / 2
            ) {
              activatePCCondition(5);
              $("#pc-drag-controller .people span").html("5");
              $("#pc-drag-controller .amount span").html("100");
            } else if (
              MovingDistance >=
                (elWidth + PCDragSpacing) * (6 - 1) - PCDragSpacing / 2 &&
              MovingDistance < (elWidth + PCDragSpacing) * 6 - PCDragSpacing / 2
            ) {
              activatePCCondition(6);
              $("#pc-drag-controller .people span").html("6");
              $("#pc-drag-controller .amount span").html("120");
            } else if (
              MovingDistance >=
                (elWidth + PCDragSpacing) * (7 - 1) - PCDragSpacing / 2 &&
              MovingDistance < (elWidth + PCDragSpacing) * 7 - PCDragSpacing / 2
            ) {
              activatePCCondition(7);
              $("#pc-drag-controller .people span").html("7");
              $("#pc-drag-controller .amount span").html("140");
            } else if (
              MovingDistance >=
                (elWidth + PCDragSpacing) * (8 - 1) - PCDragSpacing / 2 &&
              MovingDistance < (elWidth + PCDragSpacing) * 8 - PCDragSpacing / 2
            ) {
              activatePCCondition(8);
              $("#pc-drag-controller .people span").html("8");
              $("#pc-drag-controller .amount span").html("160");
            } else if (
              MovingDistance >=
                (elWidth + PCDragSpacing) * (9 - 1) - PCDragSpacing / 2 &&
              MovingDistance < (elWidth + PCDragSpacing) * 9 - PCDragSpacing / 2
            ) {
              activatePCCondition(9);
              $("#pc-drag-controller .people span").html("9");
              $("#pc-drag-controller .amount span").html("180");
            } else if (
              MovingDistance >=
                (elWidth + PCDragSpacing) * (10 - 1) - PCDragSpacing / 2 &&
              MovingDistance <
                (elWidth + PCDragSpacing) * 10 - PCDragSpacing / 2
            ) {
              activatePCCondition(10);
              $("#pc-drag-controller .people span").html("10");
              $("#pc-drag-controller .amount span").html("200");
            }
          },
        });
      } else {
        judgeMClick();
        // 透過套件 jquery-ui 判斷拖曳
        $("#m-drag-controller").draggable({
          containment: ".reward-calc-wrapper-m .draggable-area", // 限制拉動的範圍
          axis: "y", // 僅能垂直挪動
          drag: function () {
            // 抓取垂直移動距離
            const MovingDistance = Number(
              this.style.top.substring(0, this.style.top.length - 2)
            ); // 去除 "px" + 型別轉換(string 轉 number)

            if (
              MovingDistance <
              (elHeight + MDragSpacing) * 1 - MDragSpacing / 2
            ) {
              removeAllActClass(".dot-and-bar-", 10);
              addActClass(".dot-and-bar-", 1);
              removeAllActClass(".condition-", 10);
              addActClass(".condition-", 1);
            } else if (
              MovingDistance >=
                (elHeight + MDragSpacing) * (2 - 1) - MDragSpacing / 2 &&
              MovingDistance < (elHeight + MDragSpacing) * 2 - MDragSpacing / 2
            ) {
              removeAllActClass(".dot-and-bar-", 10);
              addActClass(".dot-and-bar-", 2);
              removeAllActClass(".condition-", 10);
              addActClass(".condition-", 2);
            } else if (
              MovingDistance >=
                (elHeight + MDragSpacing) * (3 - 1) - MDragSpacing / 2 &&
              MovingDistance < (elHeight + MDragSpacing) * 3 - MDragSpacing / 2
            ) {
              removeAllActClass(".dot-and-bar-", 10);
              addActClass(".dot-and-bar-", 3);
              removeAllActClass(".condition-", 10);
              addActClass(".condition-", 3);
            } else if (
              MovingDistance >=
                (elHeight + MDragSpacing) * (4 - 1) - MDragSpacing / 2 &&
              MovingDistance < (elHeight + MDragSpacing) * 4 - MDragSpacing / 2
            ) {
              removeAllActClass(".dot-and-bar-", 10);
              addActClass(".dot-and-bar-", 4);
              removeAllActClass(".condition-", 10);
              addActClass(".condition-", 4);
            } else if (
              MovingDistance >=
                (elHeight + MDragSpacing) * (5 - 1) - MDragSpacing / 2 &&
              MovingDistance < (elHeight + MDragSpacing) * 5 - MDragSpacing / 2
            ) {
              removeAllActClass(".dot-and-bar-", 10);
              addActClass(".dot-and-bar-", 5);
              removeAllActClass(".condition-", 10);
              addActClass(".condition-", 5);
            } else if (
              MovingDistance >=
                (elHeight + MDragSpacing) * (6 - 1) - MDragSpacing / 2 &&
              MovingDistance < (elHeight + MDragSpacing) * 6 - MDragSpacing / 2
            ) {
              removeAllActClass(".dot-and-bar-", 10);
              addActClass(".dot-and-bar-", 6);
              removeAllActClass(".condition-", 10);
              addActClass(".condition-", 6);
            } else if (
              MovingDistance >=
                (elHeight + MDragSpacing) * (7 - 1) - MDragSpacing / 2 &&
              MovingDistance < (elHeight + MDragSpacing) * 7 - MDragSpacing / 2
            ) {
              removeAllActClass(".dot-and-bar-", 10);
              addActClass(".dot-and-bar-", 7);
              removeAllActClass(".condition-", 10);
              addActClass(".condition-", 7);
            } else if (
              MovingDistance >=
                (elHeight + MDragSpacing) * (8 - 1) - MDragSpacing / 2 &&
              MovingDistance < (elHeight + MDragSpacing) * 8 - MDragSpacing / 2
            ) {
              removeAllActClass(".dot-and-bar-", 10);
              addActClass(".dot-and-bar-", 8);
              removeAllActClass(".condition-", 10);
              addActClass(".condition-", 8);
            } else if (
              MovingDistance >=
                (elHeight + MDragSpacing) * (9 - 1) - MDragSpacing / 2 &&
              MovingDistance < (elHeight + MDragSpacing) * 9 - MDragSpacing / 2
            ) {
              removeAllActClass(".dot-and-bar-", 10);
              addActClass(".dot-and-bar-", 9);
              removeAllActClass(".condition-", 10);
              addActClass(".condition-", 9);
            } else if (
              MovingDistance >=
                (elHeight + MDragSpacing) * (10 - 1) - MDragSpacing / 2 &&
              MovingDistance < (elHeight + MDragSpacing) * 10 - MDragSpacing / 2
            ) {
              removeAllActClass(".dot-and-bar-", 10);
              addActClass(".dot-and-bar-", 10);
              removeAllActClass(".condition-", 10);
              addActClass(".condition-", 10);
            }
          },
        });
      }
      /* 推薦人獎勵試算 end */
    </script>

    <!-- lp_v202202hykh -->
    <script>
      /* 顯示蓋版彈出訊息 */
      $("#lp_v202202hykh-btn-understand").click(function (e) {
        e.preventDefault();
        window._scrollTopHeight = $(document).scrollTop(); // 目前頁面滾動了多少距離
        $("body").css("position", "fixed");
        $("body").css("top", `${window._scrollTopHeight * -1}px`);
        $(".lp_v202202hykh .pop-up-wrapper").css("display", "flex");
      });

      /* 關閉蓋版彈出訊息 */
      $(".lp_v202202hykh .pop-up-wrapper .close").click(function (e) {
        e.preventDefault();
        $("body").css("position", "static");
        $(document).scrollTop(window._scrollTopHeight);
        $(".lp_v202202hykh .pop-up-wrapper").hide();
      });

      $("#lp_v202202hykh-pop-sign-up").click(function (e) {
        e.preventDefault();
        window.open("https://github.com/Pony-Hsieh");
      });

      $("#lp_v202202hykh-pop-cs").click(function (e) {
        e.preventDefault();
        window.open("https://www.google.com/");
      });
    </script>
  </body>
</html>
