$file-path: "../images";


/* BX 2022/3 活躍客戶 落地頁 */
.lp_v202203hykh {
    user-select: none;
    .banner {
        position: relative;
        z-index: 0;
        height: 9.2rem;
        background: url(#{$file-path}/lp_v202203hykh/banner-bg.jpg) no-repeat 0 0/100%;
        overflow: hidden;
        .flower {
            position: absolute;
            animation-name: flower-fade-in;
            animation-timing-function: linear;
            opacity: 0;
            animation-fill-mode: forwards;
            animation-duration: 0.5s;
            &.white-flower-1 {
                top: 3.6rem;
                left: -0.06rem;
                width: 1.05rem;
                height: 1.07rem;
            }
            &.white-flower-2 {
                top: 2.91rem;
                left: 3.72rem;
                width: 1.23rem;
                height: 1.25rem;
                animation-delay: 1.2s;
            }
            &.white-flower-3 {
                // 旋轉
                top: 4.8rem;
                left: 4.48rem;
                width: 1.55rem;
                height: 1.55rem;
                animation-duration: 6s;
            }
            &.white-flower-4 {
                top: -0.25rem;
                left: 16.42rem;
                z-index: 4;
                width: 3.31rem;
                height: 3.36rem;
                animation-delay: 1.5s;
            }
            &.white-flower-5 {
                top: 2.14rem;
                left: 17.7rem;
                z-index: 5;
                width: 1.91rem;
                height: 1.94rem;
                animation-delay: 2s;
            }
            &.white-flower-6 {
                display: none;
            }
            &.blue-flower-1 {
                top: 1.91rem;
                left: -0.57rem;
                width: 1.86rem;
                height: 1.88rem;
                animation-delay: 1.4s;
            }
            &.blue-flower-2 {
                top: -0.36rem;
                left: 2.24rem;
                z-index: 5;
                width: 2.1rem;
                height: 2.12rem;
                animation-delay: 1.5s;
            }
            &.blue-flower-3 {
                top: -0.34rem;
                left: 3.72rem;
                width: 1.24rem;
                height: 1.25rem;
                animation-delay: 2s;
            }
            &.blue-flower-4 {
                // 旋轉
                top: 0.8rem;
                left: 11.46rem;
                width: 0.96rem;
                height: 0.96rem;
                animation-duration: 3s;
            }
            &.blue-flower-5 {
                top: -0.2rem;
                left: 14.3rem;
                width: 1.33rem;
                height: 1.14rem;
                animation-delay: 2.2s;
            }
            &.blue-flower-6 {
                top: 3.7rem;
                left: 18.17rem;
                z-index: 3;
                width: 1.09rem;
                height: 1.1rem;
                animation-delay: 1.2s;
            }
            &.rotate {
                opacity: 1;
                animation-name: flower-rotate;
                animation-iteration-count: infinite;
            }
        }
    }
}
@media (max-width: 768px) {
    .lp_v202203hykh {
        .banner {
            height: 9.74rem;
            background: url(#{$file-path}/lp_v202203hykh/banner-bg-m.jpg) no-repeat 0 0/100% auto;
            .flower {
                &.white-flower-1 {
                    top: 2.53rem;
                    left: 0.1rem;
                    width: 1.05rem;
                    height: 1.07rem;
                }
                &.white-flower-2 {
                    top: 0.5rem;
                    left: 2.77rem;
                    z-index: 0;
                    width: 1.33rem;
                    height: 1.37rem;
                    animation-delay: 1.2s;
                }
                &.white-flower-3 {
                    // 旋轉
                    top: 5.66rem;
                    left: 0.15rem;
                    width: 1.11rem;
                    height: 1.11rem;
                }
                &.white-flower-4 {
                    top: -0.25rem;
                    left: 5.43rem;
                    z-index: 2;
                    width: 2.55rem;
                    height: 2.62rem;
                    animation-delay: 1.5s;
                }
                &.white-flower-5 {
                    top: 1.56rem;
                    left: 6.42rem;
                    z-index: 5;
                    width: 1.41rem;
                    height: 1.45rem;
                    animation-delay: 2s;
                }
                &.white-flower-6 {
                    display: block;
                    top: 1.87rem;
                    left: 2.87rem;
                    width: 0.71rem;
                    height: 0.73rem;
                    animation-delay: 2s;
                }
                &.blue-flower-1 {
                    display: none;
                }
                &.blue-flower-2 {
                    left: 1.48rem;
                    width: 1.55rem;
                    height: 1.56rem;
                    animation-delay: 1.5s;
                }
                &.blue-flower-3 {
                    top: 0.15rem;
                    left: 2.7rem;
                    z-index: 3;
                    width: 0.78rem;
                    height: 0.79rem;
                    animation-delay: 2s;
                }
                &.blue-flower-4 {
                    // 旋轉
                    top: 2.8rem;
                    left: 5.16rem;
                    width: 0.69rem;
                    height: 0.69rem;
                }
                &.blue-flower-5 {
                    top: 0.94rem;
                    left: 4.96rem;
                    z-index: 5;
                    width: 0.89rem;
                    height: 0.9rem;
                    animation-delay: 2.2s;
                }
                &.blue-flower-6 {
                    display: none;
                }
            }
        }
    }
}
// 花 旋轉
@keyframes flower-rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
// 花 淡入
@keyframes flower-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* BX 2021/9 新客 落地頁 */
.lp_v0109xkyl {
    user-select: none;
    .banner {
        position: relative;
        z-index: 1;
        height: 7.49rem;
        background: url(#{$file-path}/lp_v0109xkyl/banner-bg.png) no-repeat 0 0/100%;
        .rabbit-circle {
            position: relative;
            top: 0.19rem;
            left: 6.72rem;
            width: 6.47rem;
            height: 6.33rem;
            > img {
                // 中間的圓圈
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 6.47rem;
                height: 6.33rem;
            }
            .filter {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                width: 6.47rem;
                height: 6.33rem;
                overflow: hidden;
                img {
                    // 2 點鐘方向 兔子
                    &:nth-of-type(1) {
                        position: absolute;
                        top: -0.9rem;
                        left: 5.3rem;
                        width: 2.03rem;
                        height: 2.05rem;
                        // 動畫相關設定
                        animation-delay: 1.5s;
                        animation-name: rabbitAppear2;
                        animation-duration: 2s;
                        animation-timing-function: ease;
                        animation-fill-mode: forwards; // 停在動畫最後的樣子
                    }
                    // 5 點鐘方向 兔子
                    &:nth-of-type(2) {
                        position: absolute;
                        top: 6.3rem;
                        left: 4.3rem;
                        width: 0.99rem;
                        height: 2.19rem;
                        animation-delay: 3.5s;
                        animation-name: rabbitAppear5;
                        animation-duration: 2s;
                        animation-timing-function: ease;
                        animation-fill-mode: forwards;
                    }
                    // 9 點鐘方向 兔子
                    &:nth-of-type(3) {
                        position: absolute;
                        top: 2.9rem;
                        left: -2.65rem;
                        width: 2.55rem;
                        height: 2.07rem;
                        animation-delay: 5.5s;
                        animation-name: rabbitAppear9;
                        animation-duration: 2s;
                        animation-timing-function: ease;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .lp_v0109xkyl {
        .banner {
            height: 8.4rem;
            background: url(#{$file-path}/lp_v0109xkyl/banner-bg-m.png) no-repeat 0 0/100% auto;
            // 手機版 兔子動畫
            .rabbit-circle {
                position: relative;
                top: 0.34rem;
                left: 0.85rem;
                width: 5.8rem;
                height: 5.674rem;
                > img {
                    // 中間的圓圈
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 5.8rem;
                    height: 5.674rem;
                }
                .filter {
                    width: 5.8rem;
                    height: 5.674rem;
                    img {
                        // 2 點鐘方向 兔子
                        &:nth-of-type(1) {
                            position: absolute;
                            top: -0.9rem;
                            left: 5.3rem;
                            // 動畫相關設定
                            animation-delay: 1.5s;
                            animation-name: rabbitAppear2-m;
                            animation-duration: 2s;
                            animation-timing-function: ease;
                            animation-fill-mode: forwards; // 停在動畫最後的樣子
                        }
                        // 5 點鐘方向 兔子
                        &:nth-of-type(2) {
                            position: absolute;
                            top: 5.6rem;
                            left: 3.8rem;
                            animation-delay: 3.5s;
                            animation-name: rabbitAppear5-m;
                            animation-duration: 2s;
                            animation-timing-function: ease;
                            animation-fill-mode: forwards;
                        }
                        // 9 點鐘方向 兔子
                        &:nth-of-type(3) {
                            position: absolute;
                            top: 2.2rem;
                            left: -2.65rem;
                            animation-delay: 5.5s;
                            animation-name: rabbitAppear9-m;
                            animation-duration: 2s;
                            animation-timing-function: ease;
                            animation-fill-mode: forwards;
                        }
                    }
                }
            }
        }
    }
}
// PC 版 兔子動畫
@keyframes rabbitAppear2 {
    100% {
        top: 0;
        left: 3.8rem;
    }
}
@keyframes rabbitAppear5 {
    100% {
        top: 4.5rem;
        left: 4.3rem;
    }
}
@keyframes rabbitAppear9 {
    100% {
        top: 1.7rem;
        left: -0.65rem;
    }
}
// mobile 版 兔子動畫
@keyframes rabbitAppear2-m {
    100% {
        top: -0.1rem;
        left: 3.4rem;
    }
}
@keyframes rabbitAppear5-m {
    100% {
        top: 4rem;
        left: 3.8rem;
    }
}
@keyframes rabbitAppear9-m {
    100% {
        top: 1.2rem;
        left: -0.55rem;
    }
}
