@charset "UTF-8";
/* BX 2022/2 活躍客戶 落地頁 */
.lp_v202202hykh .section2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -0.06rem;
  width: 100%;
  height: 10.78rem;
  background: url(../images/lp_v202202hykh/section2-bg.jpg) no-repeat 0 0/100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lp_v202202hykh .section2 .section2-title {
  margin-top: 0.8rem;
  width: 2.9rem;
  height: 0.98rem;
}

.lp_v202202hykh .section2 .section2-title img {
  display: block;
  width: 100%;
  height: 100%;
}

.lp_v202202hykh .section2 .card-wrapper {
  position: absolute;
  top: 2.1rem;
}

.lp_v202202hykh .section2 .card-wrapper .pc img {
  width: 3.7rem;
  height: 3rem;
}

.lp_v202202hykh .section2 .card-wrapper .pc img:not(:last-of-type) {
  margin-right: 0.4rem;
}

.lp_v202202hykh .section2 .card-wrapper .pc img.arrow {
  width: 0.25rem;
  height: 0.49rem;
}

.lp_v202202hykh .section2 .card-wrapper .pc > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.lp_v202202hykh .section2 .card-wrapper .pc .top {
  margin-bottom: 0.32rem;
}

.lp_v202202hykh .section2 .card-wrapper .m {
  display: none;
}

.lp_v202202hykh .section2 .understand {
  position: absolute;
  bottom: 0.94rem;
  width: 2.82rem;
  height: 0.8rem;
  background-image: url(../images/lp_v202202hykh/section2-understand.svg);
  -webkit-background-size: cover;
          background-size: cover;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.lp_v202202hykh .pop-up-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 130;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lp_v202202hykh .pop-up-wrapper .pop-up {
  position: relative;
  width: 80%;
  max-width: 500px;
  -webkit-border-radius: 0.16rem;
          border-radius: 0.16rem;
  background-color: #fff;
}

.lp_v202202hykh .pop-up-wrapper .pop-up .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
}

.lp_v202202hykh .pop-up-wrapper .pop-up .close {
  position: absolute;
  top: -webkit-calc(1.25rem / 2 - 0.7rem / 2);
  top: calc(1.25rem / 2 - 0.7rem / 2);
  right: -webkit-calc(1.25rem / 2 - 0.7rem / 2);
  right: calc(1.25rem / 2 - 0.7rem / 2);
  z-index: 10;
  width: 0.7rem;
  height: 0.7rem;
  background: url(../common/images/close.svg) no-repeat 0 0/100% auto;
  cursor: pointer;
}

.lp_v202202hykh .pop-up-wrapper .pop-up .title {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.25rem;
  background-color: #003284;
  -webkit-border-radius: 0.16rem 0.16rem 0 0;
          border-radius: 0.16rem 0.16rem 0 0;
  font-size: 0.4rem;
  font-weight: 600;
  letter-spacing: 0.0005rem;
  color: #fff;
}

.lp_v202202hykh .pop-up-wrapper .pop-up .content {
  font-size: 0.4rem;
  color: #000;
  padding: 0.25rem 0.5rem;
}

.lp_v202202hykh .pop-up-wrapper .pop-up .button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 0 0 0.16rem 0.16rem;
          border-radius: 0 0 0.16rem 0.16rem;
  font-size: 0.5rem;
  padding: 0.25rem 0;
}

.lp_v202202hykh .pop-up-wrapper .pop-up .button-wrapper button {
  padding: 0.15rem;
  font-size: 20px;
  -webkit-border-radius: 0.08rem;
          border-radius: 0.08rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.lp_v202202hykh .pop-up-wrapper .pop-up .button-wrapper .sign-up {
  background-color: #003284;
  color: #fff;
}

.lp_v202202hykh .pop-up-wrapper .pop-up .button-wrapper .cs {
  background-color: #fff;
  border: 2px solid #3f3f3f;
}

@media (max-width: 768px) {
  .lp_v202202hykh .section2 {
    height: 20.65rem;
    background: url(../images/lp_v202202hykh/section2-bg-m.jpg) no-repeat 0 0/100% auto;
  }
  .lp_v202202hykh .section2 .section2-title {
    margin-top: 0.4rem;
  }
  .lp_v202202hykh .section2 .card-wrapper {
    top: 1.6rem;
  }
  .lp_v202202hykh .section2 .card-wrapper .m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lp_v202202hykh .section2 .card-wrapper .m img {
    width: 3.7rem;
    height: 3rem;
  }
  .lp_v202202hykh .section2 .card-wrapper .m img.arrow {
    width: 0.25rem;
    height: 0.49rem;
  }
  .lp_v202202hykh .section2 .card-wrapper .pc {
    display: none;
  }
  .lp_v202202hykh .section2 .understand {
    bottom: 1.02rem;
  }
  .lp_v202202hykh .pop-up-wrapper .pop-up {
    width: 80%;
  }
}
