@charset "UTF-8";
body {
  max-width: 1920px;
  margin: 0 auto;
  font-size: 0;
  font-family: "PingFang SC", "Hiragino Sans GB", arial, "Microsoft Yahei", sans-serif;
  background-color: #fff;
  overflow: hidden;
}

body.noYScroll {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.pc {
  display: block;
}

.mobile {
  display: none;
}

.dp-none {
  display: none;
}

.dp-block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.activity-main .logo {
  width: 211px !important;
}

.banner {
  position: relative;
  z-index: 2;
  height: 6.2rem;
  background-image: url(../images/BX_game_play_soccer/sprite-bg-banner.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 top;
  -webkit-animation-name: animation-bg-banner;
          animation-name: animation-bg-banner;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.banner .banner-description {
  display: block;
  margin: 0 auto;
  padding-top: 0.86rem;
  width: 6.6rem;
  height: 4.77rem;
}

.banner .badge {
  position: absolute;
  top: 4.3rem;
  left: -webkit-calc(50% - (2.4rem / 2));
  left: calc(50% - (2.4rem / 2));
  z-index: 3;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(../images/BX_game_play_soccer/badge.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center top;
  -webkit-animation-name: animation-badge-flash;
          animation-name: animation-badge-flash;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  cursor: pointer;
}

.banner .badge:active {
  background-position: top;
}

.banner .badge a {
  display: block;
  width: 100%;
  height: 100%;
}

.banner .banner-mascot {
  position: absolute;
  top: 2.76rem;
  left: 11.77rem;
  width: 2.66rem;
  height: 3.32rem;
  background-image: url(../images/BX_game_play_soccer/sprite-mascot-kicking-ball.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-animation-name: animation-banner-mascot;
          animation-name: animation-banner-mascot;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.banner .banner-soccer {
  position: absolute;
  top: 0;
  left: 1.74rem;
  width: 9.1rem;
  height: 4.8rem;
  background-image: url(../images/BX_game_play_soccer/sprite-banner-soccer-goal.png);
  background-position: -9.1rem 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-animation-name: animation-banner-soccer;
          animation-name: animation-banner-soccer;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.section-1 {
  position: relative;
  z-index: 1;
  height: 15.4rem;
  background-image: url(../images/BX_game_play_soccer/bg-section-1.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.section-1 .court-camera-flash {
  position: absolute;
  top: 3.4rem;
  left: -webkit-calc(50% - 16.7rem / 2);
  left: calc(50% - 16.7rem / 2);
  width: 16.7rem;
  height: 3.6rem;
  background-image: url(../images/BX_game_play_soccer/sprite-court-camera-flash.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: top;
  -webkit-animation-name: animation-court-camera-flash;
          animation-name: animation-court-camera-flash;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
}

.section-1 .game-info {
  position: absolute;
  top: 0.8rem;
  left: -webkit-calc(50% - (7.3rem) / 2);
  left: calc(50% - (7.3rem) / 2);
  width: 7.3rem;
  height: 2.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17.04rem;
  background-color: #2c3d45;
  background-image: url(../images/BX_game_play_soccer/bg-section-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-background-size: cover;
          background-size: cover;
}

.section-2 .content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 .content-wrapper:not(:first-of-type) {
  margin-top: 0.4rem;
}

.section-2 .content-wrapper h3 {
  width: 2.8rem;
  height: 0.6rem;
  font-size: 0.3rem;
  line-height: 0.6rem;
  text-align: center;
  color: #fff;
  background-color: #7d5aab;
  -webkit-border-radius: 0.35rem;
          border-radius: 0.35rem;
}

.section-2 .content-wrapper p {
  margin-top: 0.2rem;
  max-width: 6.86rem;
  font-size: 0.28rem;
  color: #fff;
  text-align: center;
}

.section-2 .content-wrapper p.example {
  margin-top: 0.4rem;
  padding-left: 0.1rem;
  text-align: left;
}

.section-2 .content-wrapper p.lot {
  position: relative;
  padding-left: 0.1rem;
  text-align: left;
}

.section-2 .content-wrapper p.lot span {
  position: absolute;
  top: 0;
  left: -0.4rem;
  width: 0.4rem;
  height: 0.4rem;
  background-image: url(../images/BX_game_play_soccer/icon-soccer.svg);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section-2 .content-wrapper table {
  margin-top: 0.2rem;
  width: 6.7rem;
  text-align: center;
  color: #141818;
  font-size: 0.24rem;
}

.section-2 .content-wrapper table .row-title {
  font-weight: 600;
}

.section-2 .content-wrapper table thead tr {
  height: 0.84rem;
  background-color: #7d5aab;
  font-weight: 600;
  color: #fff;
}

.section-2 .content-wrapper table thead tr th:not(:first-of-type) div {
  border-left: 0.02rem solid #fff;
}

.section-2 .content-wrapper table tbody tr,
.section-2 .content-wrapper table tfoot tr {
  border-top: 0.04rem solid #7d5aab;
}

.section-2 .content-wrapper table tbody tr:nth-of-type(odd) {
  background-color: #d8d8d8;
  height: 0.7rem;
}

.section-2 .content-wrapper table tbody tr:nth-of-type(even) {
  background-color: #efefef;
  height: 0.7rem;
}

.section-2 .content-wrapper table tfoot tr {
  height: 0.74rem;
  background-color: #fdf6cc;
  font-weight: 600;
  color: #7d5aab;
}

.section-2 .content-wrapper table tfoot tr td {
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
}

.section-2 .content-wrapper table tr td {
  border-top: 4px solid #2a3b43;
}

.section-2 .content-wrapper table .border-top-left-radius {
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
}

.section-2 .content-wrapper table .border-top-right-radius {
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
}

.section-2 .content-wrapper button {
  width: 2.5rem;
  height: 0.5rem;
  background-color: transparent;
  background-image: url(../images/BX_game_play_soccer/btn-notice.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

.pop-notice-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.72);
}

.pop-notice-wrapper .pop-notice-content-wrapper {
  position: relative;
  width: 7.2rem;
  height: 6.7rem;
}

.pop-notice-wrapper .pop-notice-content-wrapper .close {
  position: absolute;
  top: 0.3rem;
  right: -webkit-calc(0.3rem + 0.17rem);
  right: calc(0.3rem + 0.17rem);
  width: 0.7rem;
  height: 0.7rem;
  background-image: url(../images/BX_game_play_soccer/close.svg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pop-notice-wrapper .pop-notice-content-wrapper h3 {
  width: 100%;
  height: 1.3rem;
  background-color: #3050aa;
  font-size: 0.42rem;
  font-weight: 300;
  letter-spacing: 1.91px;
  color: #fff;
  text-align: center;
  -webkit-border-top-left-radius: 24px;
          border-top-left-radius: 24px;
  -webkit-border-top-right-radius: 24px;
          border-top-right-radius: 24px;
  line-height: 1.3rem;
}

.pop-notice-wrapper .pop-notice-content-wrapper .content {
  padding: 0.4rem;
  padding-left: 0.72rem;
  background-color: #fff;
  color: #000;
  font-size: 0.26rem;
  border: 1px solid #979797;
  border-top: none;
  -webkit-border-bottom-left-radius: 24px;
          border-bottom-left-radius: 24px;
  -webkit-border-bottom-right-radius: 24px;
          border-bottom-right-radius: 24px;
  line-height: 1.77;
}

.pop-notice-wrapper .pop-notice-content-wrapper .content li {
  list-style-type: decimal;
}

.login-main {
  position: relative;
  z-index: 99;
  display: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.login-main .mask-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.72);
}

.login-main .mask-main {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5.91rem;
  background-color: #fff;
  -webkit-border-radius: 0.1rem;
          border-radius: 0.1rem;
  padding: 0.4rem 0.46rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-main .mask-main .title {
  font-size: 0.22rem;
  width: 100%;
  text-align: center;
  position: relative;
  line-height: 0.24rem;
}

.login-main .mask-main .title i {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 0.18rem;
  line-height: 0.24rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.login-main .mask-main .title i:active, .login-main .mask-main .title i:hover {
  color: #0f6eef;
}

.login-main .mask-main .login-from {
  margin-top: 45px;
}

.login-main .mask-main .login-from .list {
  width: 4.98rem;
  height: 0.54rem;
  line-height: 0.45rem;
  background-color: #f3f3f3;
  -webkit-border-radius: 0.05rem;
          border-radius: 0.05rem;
  color: #7e7e7e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.01rem solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.login-main .mask-main .login-from .list .icon {
  font-size: 0.2rem;
  margin-left: 0.23rem;
  float: left;
}

.login-main .mask-main .login-from .list .input {
  font-size: 0.2rem;
  width: 65%;
  height: 100%;
  border: 0;
  float: left;
  padding-left: 0.27rem;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.01rem;
  color: #7e7e7e;
}

.login-main .mask-main .login-from .cur {
  border-color: #97aff6;
}

.login-main .mask-main .login-from li:first-child .list {
  margin-top: 0;
}

.login-main .mask-main .login-from .input-warning {
  color: #e73838;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 0.01rem;
  padding-bottom: 0.02rem;
  height: 0.19rem;
}

.login-main .mask-main .login-button {
  width: 4.98rem;
  height: 0.6rem;
  line-height: 0.58rem;
  background-color: #577ff6;
  -webkit-border-radius: 0.05rem;
          border-radius: 0.05rem;
  font-size: 0.2rem;
  color: #fff;
  margin-top: 0.22rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.login-main .mask-main .login-button:active {
  background-color: #4d67cd;
}

.login-main .mask-main .login-option {
  font-size: 0.16rem;
  margin-top: 0.2rem;
  overflow: hidden;
}

.login-main .mask-main .login-option span {
  color: #577ff6;
  cursor: pointer;
}

.login-main .mask-main .login-option span:first-child {
  float: left;
}

.login-main .mask-main .login-option span:last-child {
  float: right;
}

.login-main .mask-main .canvas {
  float: right;
  width: 0.92rem;
  height: 0.4rem;
  margin-top: 0.06rem;
  margin-right: 0.1rem;
}

#idError {
  font-size: 0.18rem;
}

@media (max-width: 768px) {
  .activity-main .logo {
    width: 2.11rem !important;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  .banner {
    height: 8.6rem;
    background-image: url(../images/BX_game_play_soccer/sprite-bg-banner-m.jpg);
    -webkit-animation-name: animation-bg-banner-m;
            animation-name: animation-bg-banner-m;
  }
  .banner .game-info {
    top: 9.4rem;
    left: -webkit-calc(50% - (6.4rem) / 2);
    left: calc(50% - (6.4rem) / 2);
    width: 6.4rem;
    height: 2.7rem;
  }
  .banner .badge {
    top: 6.3rem;
  }
  .banner .kefu-right {
    top: 0.2rem;
    right: 0.63rem;
    width: 2.2rem;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.28rem;
  }
  .banner .banner-mascot {
    top: 4.64rem;
    left: 4.84rem;
    width: 2.56rem;
  }
  .banner .banner-soccer {
    left: 0;
    width: 5.3rem;
    background-image: url(../images/BX_game_play_soccer/sprite-banner-soccer-goal-m.png);
    background-position: 0 0;
    -webkit-animation-name: animation-banner-soccer-m;
            animation-name: animation-banner-soccer-m;
  }
  .section-1 {
    height: 15.9rem;
    background-image: url(../images/BX_game_play_soccer/bg-section-1-m.jpg);
  }
  .section-1 .court-camera-flash {
    top: 5.34rem;
    left: -webkit-calc(50% - 6.84rem / 2);
    left: calc(50% - 6.84rem / 2);
    width: 6.84rem;
    height: 2.7rem;
    background-image: url(../images/BX_game_play_soccer/sprite-court-camera-flash-m.png);
  }
  .section-1 .game-info {
    top: 0.9rem;
    left: -webkit-calc(50% - (6.4rem) / 2);
    left: calc(50% - (6.4rem) / 2);
    width: 6.4rem;
    height: 2.7rem;
  }
  .section-2 {
    height: 16.7rem;
    background-image: url(../images/BX_game_play_soccer/bg-section-2-m.jpg);
  }
  .section-2 .content-wrapper button {
    width: 2.1rem;
    height: 0.8rem;
    background-image: url(../images/BX_game_play_soccer/btn-notice-m.png);
  }
  .login-main .mask-main {
    padding: 0.4rem 0.46rem;
    width: 92.3%;
    height: unset;
    -webkit-border-radius: 0.2rem;
            border-radius: 0.2rem;
  }
  .login-main .mask-main .title {
    font-size: 0.32rem;
  }
  .login-main .mask-main .login-from {
    margin-top: 0.45rem;
  }
  .login-main .mask-main .login-from .list {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
  }
  .login-main .mask-main .login-from .list .icon {
    font-size: 0.3rem;
    margin-left: 0.23rem;
  }
  .login-main .mask-main .login-from .list .input {
    padding-left: 0.27rem;
    font-size: 0.26rem;
  }
  .login-main .mask-main .login-from .input-warning {
    color: #e73838;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    height: 0.34rem;
    line-height: 0.34rem;
    margin-top: 1px;
  }
  .login-main .mask-main .login-button {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    -webkit-border-radius: 0.1rem;
            border-radius: 0.1rem;
    font-size: 0.3rem;
    margin-top: 0.22rem;
  }
  .login-main .mask-main .login-option {
    font-size: 0.26rem;
    margin-top: 0.2rem;
  }
  .login-main .mask-main .canvas {
    float: right;
    width: 1.5rem;
    height: 0.7rem;
    margin-top: 0.07rem;
    margin-right: 0.1rem;
  }
}

/* 遊戲相關操控 */
.game-area {
  position: relative;
  top: 0.8rem;
  left: -webkit-calc(50% - (7.5rem / 2));
  left: calc(50% - (7.5rem / 2));
  width: 7.5rem;
  height: 9rem;
}

.game-mask {
  position: absolute;
  top: -webkit-calc(50% - 1.8rem);
  top: calc(50% - 1.8rem);
  left: -webkit-calc(50% - (9.1rem / 2));
  left: calc(50% - (9.1rem / 2));
  z-index: 10;
  width: 9.1rem;
  height: 10.6rem;
  background-color: rgba(20, 24, 24, 0.7);
}

.btn {
  position: absolute;
  top: 74%;
  left: -webkit-calc(50% - (1.46rem / 2));
  left: calc(50% - (1.46rem / 2));
  z-index: 50;
  width: 1.46rem;
  height: 1.2rem;
  display: none;
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn.dp-block {
  display: block;
}

.btn-start {
  background-image: url(../images/BX_game_play_soccer/sprite-game-control-button.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 33%;
}

.btn-restart {
  background-image: url(../images/BX_game_play_soccer/sprite-game-control-button.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 66.5%;
}

.btn-customer-service {
  top: 90%;
  background-image: url(../images/BX_game_play_soccer/btn-customer-service.png);
  -webkit-background-size: contain;
          background-size: contain;
  background-position: 0 0;
}

.game-operation-area {
  position: relative;
  top: 4.65rem;
  width: 100%;
  height: 100%;
}

.game-operation-area .animation-before-start {
  position: absolute;
  top: 2.4rem;
  left: -webkit-calc(50% - (0.5rem / 2));
  left: calc(50% - (0.5rem / 2));
  z-index: 20;
  width: 0.5rem;
  height: 0.74rem;
}

.game-operation-area .animation-before-start.playing {
  background-image: url(../images/BX_game_play_soccer/sprite-animation-before-start.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-animation-name: animation-before-start;
          animation-name: animation-before-start;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.game-operation-area .goal {
  position: absolute;
  z-index: 0;
  width: 5.7rem;
  height: 2.9rem;
  background-image: url(../images/BX_game_play_soccer/goal.png);
  background-position: 0 center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.game-operation-area .goalkeeper {
  position: absolute;
  width: 1.54rem;
  height: 1.72rem;
  background-position: 0 center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.game-operation-area .goalkeeper.level-0, .game-operation-area .goalkeeper.level-1 {
  background-image: url(../images/BX_game_play_soccer/sprite-goalkeeper-same-side.png);
  -webkit-animation-name: animation-goalkeeper-same-side;
          animation-name: animation-goalkeeper-same-side;
}

.game-operation-area .goalkeeper.level-2, .game-operation-area .goalkeeper.level-3 {
  background-image: url(../images/BX_game_play_soccer/sprite-goalkeeper-different-side.png);
  -webkit-animation-name: animation-goalkeeper-different-side;
          animation-name: animation-goalkeeper-different-side;
}

.game-operation-area .soccer {
  position: absolute;
  z-index: 5;
  width: 0.8rem;
  height: 0.8rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: -webkit-calc(-0.85rem * 0) center;
  background-position: calc(-0.85rem * 0) center;
  -webkit-animation-name: animation-soccer;
          animation-name: animation-soccer;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: -webkit-transform ease-in 0.8s;
  transition: -webkit-transform ease-in 0.8s;
  -o-transition: transform ease-in 0.8s;
  transition: transform ease-in 0.8s;
  transition: transform ease-in 0.8s, -webkit-transform ease-in 0.8s;
  opacity: 1;
}

.game-operation-area .soccer.spinning {
  background-image: url(../images/BX_game_play_soccer/sprite-soccer-spinning.png);
  -webkit-animation-name: animation-soccer;
          animation-name: animation-soccer;
  cursor: pointer;
}

.game-operation-area .soccer.in {
  background-image: url(../images/BX_game_play_soccer/sprite-soccer-in.png);
  cursor: default;
}

.game-operation-area .soccer.out {
  background-image: url(../images/BX_game_play_soccer/sprite-soccer-out.png);
  cursor: default;
}

.game-operation-area .soccer.backward {
  opacity: 0;
  cursor: default;
}

.game-operation-area .ellipses {
  position: absolute;
  top: 5.45rem;
  left: -webkit-calc(7.5rem / 2 - 1.86rem / 2);
  left: calc(7.5rem / 2 - 1.86rem / 2);
  width: 1.86rem;
  height: 1.14rem;
  background-color: #fff98c;
  -webkit-border-radius: 50% / 50%;
          border-radius: 50% / 50%;
}

.game-operation-area .pointer {
  position: absolute;
  top: 4rem;
  left: -webkit-calc(7.5rem / 2 - 0.4rem / 2);
  left: calc(7.5rem / 2 - 0.4rem / 2);
  width: 0.4rem;
  height: 2rem;
  background-image: url(../images/BX_game_play_soccer/pointer.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.led-display-board {
  position: absolute;
  top: 3.1rem;
  left: -webkit-calc(50% - (7.2rem) / 2);
  left: calc(50% - (7.2rem) / 2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7.2rem;
  height: 1.2rem;
  background-image: url(../images/BX_game_play_soccer/bg-led-display-board.png);
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.led-display-board .countdown-time {
  width: 2.26rem;
  height: 0.96rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.led-display-board .countdown-time span {
  width: 0.72rem;
  height: 0.96rem;
}

.led-display-board .countdown-time span.digit {
  background-image: url(../images/BX_game_play_soccer/sprite-news-ticker-countdown-digit.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

.led-display-board .countdown-time span.zero {
  background-position: 0 0;
  background-position: -webkit-calc(-0.72rem * 0) 0;
  background-position: calc(-0.72rem * 0) 0;
}

.led-display-board .countdown-time span.one {
  background-position: -webkit-calc(-0.72rem * 1) 0;
  background-position: calc(-0.72rem * 1) 0;
}

.led-display-board .countdown-time span.two {
  background-position: -webkit-calc(-0.72rem * 2) 0;
  background-position: calc(-0.72rem * 2) 0;
}

.led-display-board .countdown-time span.three {
  background-position: -webkit-calc(-0.72rem * 3) 0;
  background-position: calc(-0.72rem * 3) 0;
}

.led-display-board .countdown-time span.four {
  background-position: -webkit-calc(-0.72rem * 4) 0;
  background-position: calc(-0.72rem * 4) 0;
}

.led-display-board .countdown-time span.five {
  background-position: -webkit-calc(-0.72rem * 5) 0;
  background-position: calc(-0.72rem * 5) 0;
}

.led-display-board .countdown-time span.six {
  background-position: -webkit-calc(-0.72rem * 6) 0;
  background-position: calc(-0.72rem * 6) 0;
}

.led-display-board .countdown-time span.seven {
  background-position: -webkit-calc(-0.72rem * 7) 0;
  background-position: calc(-0.72rem * 7) 0;
}

.led-display-board .countdown-time span.eight {
  background-position: -webkit-calc(-0.72rem * 8) 0;
  background-position: calc(-0.72rem * 8) 0;
}

.led-display-board .countdown-time span.nine {
  background-position: -webkit-calc(-0.72rem * 9) 0;
  background-position: calc(-0.72rem * 9) 0;
}

.led-display-board .countdown-time span.unit {
  background-image: url(../images/BX_game_play_soccer/news-ticker-countdown-unit.png);
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.led-display-board .news-ticker {
  width: 3.8rem;
  height: 0.96rem;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.led-display-board .news-ticker.start {
  background-image: url(../images/BX_game_play_soccer/news-ticker-start.png);
  background-position: -webkit-calc(100% + 2.98rem) center;
  background-position: calc(100% + 2.98rem) center;
  -webkit-animation-name: animation-news-ticker-start;
          animation-name: animation-news-ticker-start;
}

.led-display-board .news-ticker.game_over {
  background-image: url(../images/BX_game_play_soccer/news-ticker-game-over.png);
  background-position: -webkit-calc(100% + 2.98rem) center;
  background-position: calc(100% + 2.98rem) center;
  -webkit-animation-name: animation-news-ticker-game-over;
          animation-name: animation-news-ticker-game-over;
}

.led-display-board .news-ticker.news_ticker_complete_level_1 {
  background-image: url(../images/BX_game_play_soccer/news-ticker-complete-level-1.png);
  background-position: -webkit-calc(100% + 7.6rem) center;
  background-position: calc(100% + 7.6rem) center;
  -webkit-animation-name: animation-news-ticker-complete-level;
          animation-name: animation-news-ticker-complete-level;
}

.led-display-board .news-ticker.news_ticker_complete_level_2 {
  background-image: url(../images/BX_game_play_soccer/news-ticker-complete-level-2.png);
  background-position: -webkit-calc(100% + 7.6rem) center;
  background-position: calc(100% + 7.6rem) center;
  -webkit-animation-name: animation-news-ticker-complete-level;
          animation-name: animation-news-ticker-complete-level;
}

.led-display-board .news-ticker.news_ticker_complete_level_3 {
  background-image: url(../images/BX_game_play_soccer/news-ticker-complete-level-3.png);
  background-position: -webkit-calc(100% + 7.6rem) center;
  background-position: calc(100% + 7.6rem) center;
  -webkit-animation-name: animation-news-ticker-complete-level;
          animation-name: animation-news-ticker-complete-level;
}

.msg-goal-successfully-wrapper {
  position: relative;
  top: -2.9rem;
  left: 0;
  width: 7.5rem;
  margin: 0 auto;
}

.msg-goal-successfully-wrapper .msg-goal-successfully {
  position: absolute;
  top: 3rem;
  width: 1.04rem;
  height: 0.5rem;
  background-image: url(../images/BX_game_play_soccer/msg-goal-successfully.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}

.msg-goal-successfully-wrapper .msg-goal-successfully.msg-goal-successfully-1 {
  left: -webkit-calc(7.5rem / 4 * 1 - 1.04rem / 2);
  left: calc(7.5rem / 4 * 1 - 1.04rem / 2);
}

.msg-goal-successfully-wrapper .msg-goal-successfully.msg-goal-successfully-2 {
  left: -webkit-calc(7.5rem / 4 * 2 - 1.04rem / 2);
  left: calc(7.5rem / 4 * 2 - 1.04rem / 2);
}

.msg-goal-successfully-wrapper .msg-goal-successfully.msg-goal-successfully-2.dp-block {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.msg-goal-successfully-wrapper .msg-goal-successfully.msg-goal-successfully-3 {
  left: -webkit-calc(7.5rem / 4 * 3 - 1.04rem / 2);
  left: calc(7.5rem / 4 * 3 - 1.04rem / 2);
}

.msg-goal-successfully-wrapper .msg-goal-successfully.msg-goal-successfully-3.dp-block {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.msg-goal-successfully-wrapper .msg-goal-successfully.dp-block {
  -webkit-animation-name: animation-msg-goal-successfully;
          animation-name: animation-msg-goal-successfully;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.msg-fail {
  position: absolute;
  top: -webkit-calc(50% + 2.3rem);
  top: calc(50% + 2.3rem);
  left: -webkit-calc(50% - (5.5rem / 2));
  left: calc(50% - (5.5rem / 2));
  z-index: 30;
  display: none;
  width: 5.5rem;
  height: 2rem;
  background-image: url(../images/BX_game_play_soccer/game-over.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
}

.msg-fail.dp-block {
  display: block;
}

.msg-bonus-1 {
  position: absolute;
  top: -webkit-calc(50% + 1.5rem);
  top: calc(50% + 1.5rem);
  left: -webkit-calc(50% - (4rem / 2));
  left: calc(50% - (4rem / 2));
  z-index: 30;
  display: none;
  width: 4rem;
  height: 4rem;
  background-image: url(../images/BX_game_play_soccer/msg-bonus-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
}

.msg-bonus-1.dp-block {
  display: block;
}

.msg-bonus-2 {
  position: absolute;
  top: -webkit-calc(50% + 1.5rem);
  top: calc(50% + 1.5rem);
  left: -webkit-calc(50% - (4rem / 2));
  left: calc(50% - (4rem / 2));
  z-index: 30;
  display: none;
  width: 4rem;
  height: 4rem;
  background-image: url(../images/BX_game_play_soccer/msg-bonus-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
}

.msg-bonus-2.dp-block {
  display: block;
}

.msg-sign-up-result {
  position: absolute;
  top: 3.5rem;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.msg-sign-up-result .msg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.8rem;
  color: #fff;
  background-color: rgba(30, 30, 30, 0.7);
  -webkit-border-radius: 0.1rem;
          border-radius: 0.1rem;
  font-size: 0.32rem;
  opacity: 0;
}

#preloader {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}

#preloader .preloader-1-1 {
  background-image: url(../images/BX_game_play_soccer/sprite-animation-before-start.png);
}

#preloader .preloader-1-2 {
  background-image: url(../images/BX_game_play_soccer/sprite-game-control-button.png);
}

#preloader .preloader-1-3 {
  background-image: url(../images/BX_game_play_soccer/sprite-soccer-spinning.png);
}

#preloader .preloader-1-4 {
  background-image: url(../images/BX_game_play_soccer/sprite-soccer-in.png);
}

#preloader .preloader-1-5 {
  background-image: url(../images/BX_game_play_soccer/sprite-soccer-out.png);
}

#preloader .preloader-2-1 {
  background-image: url(../images/BX_game_play_soccer/msg-goal-successfully.png);
}

#preloader .preloader-2-2 {
  background-image: url(../images/BX_game_play_soccer/msg-bonus-1.png);
}

#preloader .preloader-2-3 {
  background-image: url(../images/BX_game_play_soccer/msg-bonus-2.png);
}

#preloader .preloader-3-1 {
  background-image: url(../images/BX_game_play_soccer/btn-customer-service.png);
}

@media (max-width: 768px) {
  .game-area {
    top: 2.6rem;
  }
  .game-mask {
    top: 2.8rem;
    height: 9.8rem;
  }
  .fail {
    top: 3rem;
    left: -webkit-calc(50vw - (5.5rem / 2));
    left: calc(50vw - (5.5rem / 2));
    width: 5.5rem;
    height: 2rem;
  }
  .btn {
    position: absolute;
    top: 5.8rem;
    left: -webkit-calc(50vw - (2.92rem / 2));
    left: calc(50vw - (2.92rem / 2));
    width: 2.92rem;
    height: 2.41rem;
  }
  .btn-customer-service {
    top: 9rem;
  }
}

@-webkit-keyframes animation-banner-mascot {
  0% {
    background-position: -webkit-calc(-2.66rem * 0) 0;
    background-position: calc(-2.66rem * 0) 0;
  }
  4% {
    background-position: -webkit-calc(-2.66rem * 1) 0;
    background-position: calc(-2.66rem * 1) 0;
  }
  8% {
    background-position: -webkit-calc(-2.66rem * 2) 0;
    background-position: calc(-2.66rem * 2) 0;
  }
  12% {
    background-position: -webkit-calc(-2.66rem * 3) 0;
    background-position: calc(-2.66rem * 3) 0;
  }
  15% {
    background-position: -webkit-calc(-2.66rem * 4) 0;
    background-position: calc(-2.66rem * 4) 0;
  }
  19% {
    background-position: -webkit-calc(-2.66rem * 5) 0;
    background-position: calc(-2.66rem * 5) 0;
  }
  23% {
    background-position: -webkit-calc(-2.66rem * 6) 0;
    background-position: calc(-2.66rem * 6) 0;
  }
  27% {
    background-position: -webkit-calc(-2.66rem * 7) 0;
    background-position: calc(-2.66rem * 7) 0;
  }
  30% {
    background-position: -webkit-calc(-2.66rem * 8) 0;
    background-position: calc(-2.66rem * 8) 0;
  }
  34% {
    background-position: -webkit-calc(-2.66rem * 9) 0;
    background-position: calc(-2.66rem * 9) 0;
  }
  38% {
    background-position: -webkit-calc(-2.66rem * 10) 0;
    background-position: calc(-2.66rem * 10) 0;
  }
  42% {
    background-position: -webkit-calc(-2.66rem * 11) 0;
    background-position: calc(-2.66rem * 11) 0;
  }
  45% {
    background-position: -webkit-calc(-2.66rem * 12) 0;
    background-position: calc(-2.66rem * 12) 0;
  }
  50% {
    background-position: -webkit-calc(-2.66rem * 13) 0;
    background-position: calc(-2.66rem * 13) 0;
  }
  100% {
    background-position: -webkit-calc(-2.66rem * 13) 0;
    background-position: calc(-2.66rem * 13) 0;
  }
}

@keyframes animation-banner-mascot {
  0% {
    background-position: -webkit-calc(-2.66rem * 0) 0;
    background-position: calc(-2.66rem * 0) 0;
  }
  4% {
    background-position: -webkit-calc(-2.66rem * 1) 0;
    background-position: calc(-2.66rem * 1) 0;
  }
  8% {
    background-position: -webkit-calc(-2.66rem * 2) 0;
    background-position: calc(-2.66rem * 2) 0;
  }
  12% {
    background-position: -webkit-calc(-2.66rem * 3) 0;
    background-position: calc(-2.66rem * 3) 0;
  }
  15% {
    background-position: -webkit-calc(-2.66rem * 4) 0;
    background-position: calc(-2.66rem * 4) 0;
  }
  19% {
    background-position: -webkit-calc(-2.66rem * 5) 0;
    background-position: calc(-2.66rem * 5) 0;
  }
  23% {
    background-position: -webkit-calc(-2.66rem * 6) 0;
    background-position: calc(-2.66rem * 6) 0;
  }
  27% {
    background-position: -webkit-calc(-2.66rem * 7) 0;
    background-position: calc(-2.66rem * 7) 0;
  }
  30% {
    background-position: -webkit-calc(-2.66rem * 8) 0;
    background-position: calc(-2.66rem * 8) 0;
  }
  34% {
    background-position: -webkit-calc(-2.66rem * 9) 0;
    background-position: calc(-2.66rem * 9) 0;
  }
  38% {
    background-position: -webkit-calc(-2.66rem * 10) 0;
    background-position: calc(-2.66rem * 10) 0;
  }
  42% {
    background-position: -webkit-calc(-2.66rem * 11) 0;
    background-position: calc(-2.66rem * 11) 0;
  }
  45% {
    background-position: -webkit-calc(-2.66rem * 12) 0;
    background-position: calc(-2.66rem * 12) 0;
  }
  50% {
    background-position: -webkit-calc(-2.66rem * 13) 0;
    background-position: calc(-2.66rem * 13) 0;
  }
  100% {
    background-position: -webkit-calc(-2.66rem * 13) 0;
    background-position: calc(-2.66rem * 13) 0;
  }
}

@-webkit-keyframes animation-banner-soccer {
  0% {
    background-position: 9.1rem 0;
  }
  60% {
    background-position: 0 0;
  }
  80% {
    background-position: -9.1rem 0;
  }
  100% {
    background-position: -9.1rem 0;
  }
}

@keyframes animation-banner-soccer {
  0% {
    background-position: 9.1rem 0;
  }
  60% {
    background-position: 0 0;
  }
  80% {
    background-position: -9.1rem 0;
  }
  100% {
    background-position: -9.1rem 0;
  }
}

@-webkit-keyframes animation-banner-soccer-m {
  0% {
    background-position: 5.3rem 0;
  }
  60% {
    background-position: -5.3rem 0;
  }
  80% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes animation-banner-soccer-m {
  0% {
    background-position: 5.3rem 0;
  }
  60% {
    background-position: -5.3rem 0;
  }
  80% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
  }
}

@-webkit-keyframes animation-bg-banner {
  0% {
    background-position: 0 top;
  }
  50% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 0 top;
  }
}

@keyframes animation-bg-banner {
  0% {
    background-position: 0 top;
  }
  50% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 0 top;
  }
}

@-webkit-keyframes animation-bg-banner-m {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 -8.6rem;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes animation-bg-banner-m {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 -8.6rem;
  }
  100% {
    background-position: 0 0;
  }
}

@-webkit-keyframes animation-badge-flash {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

@keyframes animation-badge-flash {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

@-webkit-keyframes animation-court-camera-flash {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

@keyframes animation-court-camera-flash {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

@-webkit-keyframes animation-before-start {
  0% {
    background-position: center -1.6rem;
  }
  33% {
    background-position: center -0.78rem;
  }
  66% {
    background-position: center 0;
  }
  100% {
    background-position: center 0;
  }
}

@keyframes animation-before-start {
  0% {
    background-position: center -1.6rem;
  }
  33% {
    background-position: center -0.78rem;
  }
  66% {
    background-position: center 0;
  }
  100% {
    background-position: center 0;
  }
}

@-webkit-keyframes animation-msg-goal-successfully {
  0% {
    top: 3rem;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  40% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    top: 1rem;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    opacity: 0;
  }
}

@keyframes animation-msg-goal-successfully {
  0% {
    top: 3rem;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  40% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    top: 1rem;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    opacity: 0;
  }
}

/* 跑馬燈 */
@-webkit-keyframes animation-news-ticker-start {
  0% {
    background-position: -webkit-calc(100% + 2.98rem) center;
    background-position: calc(100% + 2.98rem) center;
  }
  100% {
    background-position: -webkit-calc(0% - 2.98rem) center;
    background-position: calc(0% - 2.98rem) center;
  }
}
@keyframes animation-news-ticker-start {
  0% {
    background-position: -webkit-calc(100% + 2.98rem) center;
    background-position: calc(100% + 2.98rem) center;
  }
  100% {
    background-position: -webkit-calc(0% - 2.98rem) center;
    background-position: calc(0% - 2.98rem) center;
  }
}

@-webkit-keyframes animation-news-ticker-game-over {
  0% {
    background-position: -webkit-calc(100% + 2.98rem) center;
    background-position: calc(100% + 2.98rem) center;
  }
  100% {
    background-position: -webkit-calc(0% - 2.98rem) center;
    background-position: calc(0% - 2.98rem) center;
  }
}

@keyframes animation-news-ticker-game-over {
  0% {
    background-position: -webkit-calc(100% + 2.98rem) center;
    background-position: calc(100% + 2.98rem) center;
  }
  100% {
    background-position: -webkit-calc(0% - 2.98rem) center;
    background-position: calc(0% - 2.98rem) center;
  }
}

@-webkit-keyframes animation-news-ticker-complete-level {
  0% {
    background-position: -webkit-calc(100% + 7.6rem) center;
    background-position: calc(100% + 7.6rem) center;
  }
  100% {
    background-position: -webkit-calc(0% - 7.6rem) center;
    background-position: calc(0% - 7.6rem) center;
  }
}

@keyframes animation-news-ticker-complete-level {
  0% {
    background-position: -webkit-calc(100% + 7.6rem) center;
    background-position: calc(100% + 7.6rem) center;
  }
  100% {
    background-position: -webkit-calc(0% - 7.6rem) center;
    background-position: calc(0% - 7.6rem) center;
  }
}

@-webkit-keyframes animation-goalkeeper-same-side {
  0% {
    background-position: 0 center;
  }
  50% {
    background-position: -1.56rem center;
  }
  100% {
    background-position: 0 center;
  }
}

@keyframes animation-goalkeeper-same-side {
  0% {
    background-position: 0 center;
  }
  50% {
    background-position: -1.56rem center;
  }
  100% {
    background-position: 0 center;
  }
}

@-webkit-keyframes animation-goalkeeper-different-side {
  0% {
    background-position: 0 center;
  }
  50% {
    background-position: -1.56rem center;
  }
  100% {
    background-position: 0 center;
  }
}

@keyframes animation-goalkeeper-different-side {
  0% {
    background-position: 0 center;
  }
  50% {
    background-position: -1.56rem center;
  }
  100% {
    background-position: 0 center;
  }
}

@-webkit-keyframes animation-soccer {
  0% {
    background-position: -webkit-calc(-0.85rem * 0) center;
    background-position: calc(-0.85rem * 0) center;
  }
  17% {
    background-position: -webkit-calc(-0.85rem * 1) center;
    background-position: calc(-0.85rem * 1) center;
  }
  33% {
    background-position: -webkit-calc(-0.85rem * 2) center;
    background-position: calc(-0.85rem * 2) center;
  }
  50% {
    background-position: -webkit-calc(-0.85rem * 3) center;
    background-position: calc(-0.85rem * 3) center;
  }
  67% {
    background-position: -webkit-calc(-0.85rem * 4) center;
    background-position: calc(-0.85rem * 4) center;
  }
  83% {
    background-position: -webkit-calc(-0.85rem * 5) center;
    background-position: calc(-0.85rem * 5) center;
  }
  100% {
    background-position: -webkit-calc(-0.85rem * 5) center;
    background-position: calc(-0.85rem * 5) center;
  }
}

@keyframes animation-soccer {
  0% {
    background-position: -webkit-calc(-0.85rem * 0) center;
    background-position: calc(-0.85rem * 0) center;
  }
  17% {
    background-position: -webkit-calc(-0.85rem * 1) center;
    background-position: calc(-0.85rem * 1) center;
  }
  33% {
    background-position: -webkit-calc(-0.85rem * 2) center;
    background-position: calc(-0.85rem * 2) center;
  }
  50% {
    background-position: -webkit-calc(-0.85rem * 3) center;
    background-position: calc(-0.85rem * 3) center;
  }
  67% {
    background-position: -webkit-calc(-0.85rem * 4) center;
    background-position: calc(-0.85rem * 4) center;
  }
  83% {
    background-position: -webkit-calc(-0.85rem * 5) center;
    background-position: calc(-0.85rem * 5) center;
  }
  100% {
    background-position: -webkit-calc(-0.85rem * 5) center;
    background-position: calc(-0.85rem * 5) center;
  }
}
